/*
 * Styles that apply globally across the application belong in this file.
 * If a style is specific to a single view, put it elsewhere.
 */
body
  padding-top 20px

h2.ct-view-header
  color #555
  margin 0
  font-size 22px

h3.ct-accordion-header
  font-size 13px

.ct-empty-set-message
  color #777
  font-style italic

a
  cursor pointer
