div.ct-metadata-header
  .ct-table-cell
    font-weight bold
    color #555
  .row-fluid
    border-bottom 1px solid #d7d7d7

div.ct-metadata-body
  .row-fluid:nth-child(odd)
    background-color #f3f3f3
  .row-fluid:nth-child(even)
    background-color white
