div.ct-simulation-tabs
  margin-top 15px
  ul.nav-tabs
    margin-bottom 10px

div.ct-simulation-tab-content
  overflow visible !important

div.ct-simulation-tab-content div.ct-metadata-body
  max-height 280px
  overflow-y auto
