ul.ct-analysis-list.ct-action-list-widget.nav.nav-stacked.nav-list
  each analysis in analyses
    li.ct-analysis-result
      a.ct-analysis-link(analysis-id="#{analysis.id}")
        i.icon-chevron-right
        | #{analysis.get('name')}
