.ct-metadata-wrapper
  if params.length == 0
    .ct-empty-set-message No metadata to display.
  else
    .ct-metadata-header
      .row-fluid
        .ct-table-cell.span6
          span Name
        .ct-table-cell.span6
          span Value
    .ct-metadata-body
      each param in params
        .row-fluid
          .ct-table-cell.span6
            span #{param.key}
          .ct-table-cell.span6
            span #{param.value}
