h2.ct-view-header Simulations

if simulations.length == 0
  span.ct-empty-set-message There are no simulations.
else
  .ct-result-accordion
    each simulation in simulations
      h3.ct-accordion-header(simulation-id="#{simulation.id}")= simulation.get('name')
      .ct-result-container(id="ct-result-container-#{simulation.id}")
        img(src="app/img/loading.gif")
        |  Fetching information...
