div
  span
    b Site:
    |  #{simulation.get('site')}
div
  span
    b User:
    |  #{simulation.get('user')}

.ct-analysis-wrapper
  each analysis in analysiscollection
    .ct-analysis-container
      a.ct-analysis-link(analysis-id="#{analysis.id}")= analysis.get('name')
