div
  span
    b Site:
    |  #{simulation.get('site')}
div
  span
    b User:
    |  #{simulation.get('user')}

.ct-viewables-wrapper
  each viewable in viewables
    .ct-viewable-container
      a.ct-viewable-link(viewable-id="#{viewable.id}")= viewable.get('name')
